# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# custom
.DS_Store
main
filecoin-chain-indexer
.vscode/
.env
*.json
!actorCodes.json
!servedir/*.json
s3data/*
!s3data/cso/idx
s3data/csvs/parsed_messages/*
!s3data/csvs/parsed_messages/idx
s3data/csvs/transactions/*
!s3data/csvs/transactions/idx
